/*
|--------------------------------------------------------------------------
| BLACKFILE MAIN CSS
|--------------------------------------------------------------------------
*/

@import '@fortawesome/fontawesome-free/css/all.css';
@import 'tailwindcss';
@plugin "@tailwindcss/typography";

/* Import Custom CSS Modules */
@import './partials/_base.css';
@import './partials/_components.css';
@import './partials/_utilities.css';

/* Existing battle css */
@import './battle.css';